<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://thelia.net/schema/dic/module"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/module http://thelia.net/schema/dic/module/module-2_2.xsd">
    <fullnamespace>BrandPromo\BrandPromo</fullnamespace>
    <descriptive locale="en_US">
        <title>Brand promotion</title>
        <description>Allows to set all products of a specific brand to promo price.</description>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Promotion de marque</title>
        <description>Permet de mettre tous les produits d'une marque spécifique en prix promo.</description>
    </descriptive>
    <languages>
        <language>en_US</language>
        <language>fr_FR</language>
    </languages>
    <version>1.0.0</version>
    <authors>
        <author>
            <name>Luc Normandon</name>
            <email>lucnormandon@openstudio.fr</email>
        </author>
    </authors>
    <type>classic</type>
    <thelia>2.4.0</thelia>
    <stability>other</stability>
    <mandatory>0</mandatory>
    <hidden>0</hidden>
</module>
